/* background color*/
.body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 60px;
    background-color: white;
    color: black;
}

.body a {
    color: gray;
    text-decoration: none;
}

/* nav bar */
.navbar-parent {
    margin: 5%;
}

.navbar-parent a:hover {
    font-weight: bold;
}

.navbar-child-active {
    float: left;
    width: 50%;
    font-weight: bold;
}

.navbar-child {
    float: left;
    width: 50%;
}

.name {
    font-size: 16pt;
    margin: 10pt;
}

.navbar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
    list-style-type: none;
    font-size: 14pt;
}

/* footer */
.footer {
    padding-top: 200pt;
    margin: 5%;
    text-align: center;
    bottom: 0;
    list-style-type: none;
}

.footer li {
    margin: 4px;
    display: inline;
}

.footer a:hover{
    color: black;
}


/* about */
.about {
    margin:10%;
}

.about-child {
    float: left;
    width: 50%;
}

/* projects */
.projects {
    margin: 10%;
}

/* skills */
.skills {
    margin: 10%;
}