/* background color*/
.body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 60px;
    background-color: white;
    color: black;
    margin-left: 10%;
    margin-right: 10%;
}

.body a {
    color: gray;
    text-decoration: none;
}

/* nav bar */
.navbar-parent {
    margin: 5%;
    margin-left: 20%;
    margin-right: 20%;
}

.navbar-parent a:hover {
    font-weight: bold;
}

.navbar-child {
    float: left;
    text-align: center;
    width: 50%;
}

.name {
    font-size: 16pt;
    margin: 10pt;
}

.navbar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
    list-style-type: none;
    font-size: 14pt;
}

.navbar-active {
    font-weight: bold;
}

/* footer */
.footer {
    display: -ms-inline-grid;
    text-align: center;
    bottom: 0;
    list-style-type: none;
}

#footer-about {
    padding-top: 300pt;
}

.footer li {
    margin: 4px;
    display: inline;
}

.footer a:hover{
    color: black;
}


/* about */
.about {
    margin:10%;
}

.about-child {
    float: left;
    width: 50%;
}

.about-image {
    display: flex;
    justify-content: center;
}

/* projects */
.projects {
    margin: 10%;
}

/* skills */
.skills {
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: 30%;
    margin-right: 20%;
}

.icons {
    list-style-type: none;
}

.icons li {
    display: inline;
}